Binaries/
Intermediate/
UnrealEngineAPI/4.25/PoseAILiveLink4.25.zip
UnrealEngineAPI/4.26/PoseAILiveLink4.26.zip
.DS_Store
PoseAILiveLink*.zip
UnityAPI/PoseAI_Demo/*
UnityAPI/PoseAI_UnityDemo/*
UnityAPI/PoseAI_UnityDemo1.4/*
UnityAPI.zip
